<nav class="navbar navbar-expand-lg bg-body-tertiary custom-navbar">
  <div class="container-fluid">
    <img src="./assets/wrench.png" style="max-height: 24px; max-width: 24px;" alt="Logo">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Machines">All Machines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Engineers">All Engineers</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Expand for Options</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Engineers/Create">Add an Engineer</a></li>
            <li><a class="dropdown-item" href="/Machines/Create">Add a Machine</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/Engineers/Search">Search Engineers</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search" action="/Engineers/Results" method="post">
        <input class="form-control me-2" type="search" name="query" placeholder="Search Engineers" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>